<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Usuario</ion-label>
    <ion-input [(ngModel)]="usuario"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="contrasena"></ion-input>
  </ion-item>
  <ion-button expand="block" color="danger" (click)="login()">Iniciar sesión</ion-button>
  <ion-button expand="block" color="primary" (click)="registrarse()">Registrarse</ion-button>

  <ion-label position="stacked">{{respuesta}}</ion-label>

</ion-content>