<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Tienda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-margin">
    <ion-button class="ion-margin-top ion-margin-bottom" expand="block" (click)='irProductos()'>Productos</ion-button>
    <ion-button class="ion-margin-top ion-margin-bottom" expand="block" (click)='irClientes()'>Clientes</ion-button>
    <ion-button class="ion-margin-top ion-margin-bottom" expand="block" (click)='irVentas()'>Ventas</ion-button>
    <ion-button class="ion-margin-top ion-margin-bottom" expand="block" (click)="cerrarSesion()">Cerrar sesión
    </ion-button>
  </div>
</ion-content>